body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex; /* Para alinhar o input e o botão na mesma linha */
    align-items: center; /* Alinha verticalmente os itens dentro do li */
    justify-content: space-between; /* Espaça os itens horizontalmente */
}

.descricao-amigo {
    font-style: italic;
    color: #777;
    margin-top: 5px;
    font-size: 0.9em;
}

.descricao-input {
    width: 70%; /* Ocupa 70% da largura disponível dentro do li */
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
    margin-right: 10px; /* Adiciona um espaço à direita do input para separar do botão */
}

.remove-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #d32f2f;
}